.header {
    position: absolute;
    height: 59px;
    width: 152px;
    left: 140px;
    top: 70px;
    border-radius: nullpx;
}
.header__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;

    color: #F7D832;

}

