// html {
//     font-size: 62.5%;
// }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

body {
    font-family: 'Montserrat';
    overflow-x: hidden;
    overflow-y: hidden;
    // font-size: $m-size;
}

input {
    border-style: hidden;
}

button {
    cursor: pointer;
    border-style: hidden;
}

button:disabled {
    cursor: default;
}
